@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif
}

body {
  background-image: url('https://sarvesh-cold-email.s3.ap-south-1.amazonaws.com/Todobackground.png');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

